*{
	margin: 0px;
	padding: 0px;
}
body{
	margin: 0px auto;
	padding: 0px;
	font-family: Arial;
	
}
.wrapper{
	position: relative;
	margin: 0px auto;
	padding: 0px;
}
/*header*/
.header{
	margin: 0px;
	padding: 0px;
	position: fixed;
	top: 0px;
	z-index: 10;
	width: 100%;
	background: #000000;
	height: 100px;
}
/*logo*/
.header img{
	margin: 0px;
	margin-top: 20%;
	padding: 0px;
	width: 110%;
	height: 40%;
}
/*end logo*/
/*menu-top*/
.menu-top > ul{
	margin: 0px auto;
	padding: 0px;
	list-style-type: none;
	margin-top: 10px;
}
.menu-top > ul > li{
	position: relative;
	display: inline-block;
	line-height: 50px;
	font-size: 15px;
	text-align: center;
	
}
.menu-top > ul > li > a{
	color: white;
	font-weight: bold;
	padding: 0px 10px;
	text-decoration: none;
}
.menu-top > ul > li > a:hover{
	color: #e2b141;
}
.menu-top > ul > li > ul{
	position: absolute;
	top: 50px;
	left: 15px;
	margin: 0px;
	padding: 0px;
	border: 1px solid #e2ba48;
	border-radius: 10px;
	background: white;
	list-style: none;
	display: none;
	z-index: 3;
	width: 240px;
}
.menu-top > ul > li > ul > li{
	display: block;
	line-height: 25px;
	font-size: 13px;
	text-align: left;
	position: relative;
	width: 238px;
}
.menu-top > ul > li > ul > li:first-child{
	margin-top: 20px;
}
.menu-top > ul > li > ul > li:last-child{
	margin-bottom: 20px;
}
.menu-top > ul > li > ul > li > a{
	color: grey;
	text-decoration: none;
	padding: 5px 15px;
	display: block;
	font-weight: bold;
}
.menu-top > ul > li > ul > li > a:hover{
	background: #f7f7f7;
	color: #333333;
}
.menu-top > ul > li:hover .sub-menu{
	display: block;
}
/*end menu-top*/
/*menu-icon*/
.menu-icon > ul{
	display: flex;
	list-style: none;
	margin-top: 20px;
}
.menu-icon > ul > li{
	padding: 3% 10%;
	display: block;
	position: relative;
}
.nu{
	position: absolute;
	font-size: 14px;
	color: white;
	top: -20%;
	right: 8%;
}
.menu-icon > ul > li > a{
	text-decoration: none;
	font-size: 21px;
	color: white;
}
.menu-icon > ul > li > a:hover{
	color: #e2b141;
}
/**/
.search-icon{
	position: relative;
}
.search-box{
	width: 2400%;
	height: 400%;
	background: white;
	position: absolute;
	right: -50%;
	/*top: 120%;*/
	border: 1px solid #e2b141;
	border-radius: 20px;
	z-index: 3;
	display: none;
	text-align: center;
}
.search-icon:hover .search-box{
	display: block;
}
.search-box > form > input{
	margin-top: 5%;
	width: 90%;
}
/* end menu-icon*/
/* end header

/* slide-show*/
.slide-show > .container-fluid{
	margin: 0px;
	padding: 0px;
	position: relative;
	margin-top: 100px;
	width: 100%;
}
.slide-show img{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 90%;
}
.fa-angle-right, .fa-angle-left{
	position: absolute;
	top: 32%;
	color: rgba(198, 226, 255, 0.2);
}
.fa-angle-right:hover{
	color: white;
	cursor: pointer;
} 
.fa-angle-left:hover{
	color: white;
	cursor: pointer;
}
.fa-angle-right{
	right: 2%;
	
}
.fa-angle-left{
	left: 2%;
	
}
/* end slide-show*/
/*watch*/
.wtitle{
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #3c3451; 
}
.wtitle-line{
	margin: auto;
	height: 7px;
	width: 50px;
	text-align: center;
	background: #eaeaea;
}
.wproduct > .container > .row{
	margin-bottom: 30px;
}
.prod
{
	margin: 0px;
	padding: 0px;
	margin-top: 25%;
	position: relative;
}
.prod:hover{
	border: 2px dashed #909090;
}
.prod:hover .prod-icon > a{
	display: block;
} 
.prod > a > img{
	width: 100%;
	height: 100%;
	text-align: center;
	cursor: pointer;
}
.prod-icon > a{
	position: absolute;
	top: 50%;
	left: 8%;
	z-index: 2;
	text-decoration: none;
	color: black;
	display: none;
}
.prod-icon > a:hover{
	color: #e3bc4c;
}
.sale{
	position: absolute;
	top: 5%;
	left: 7%;
	background: #e2ba48;
	z-index: 2;
	text-align: center;
	vertical-align: middle;
	border-radius: 100%;
	font-weight: bold;
	color: white;
	padding: 5px 6px;
}
.description > p{
	text-align: center;
	margin: 0px;
	font-size: 11px;
	color: #909090;
}
.code{
	text-align: center;
	font-size: 14px;
	margin: 8px 0px 5px 0px;
}
.description > .name{
	margin: 0px auto;
	width: 95%;
	text-align: center;
}
.description > .name > a{
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	text-decoration: none;
	color: #1c1c1c;
	font-weight: bold;
}
.description > .name > a:hover{
	color: #e3bc4e;
}
.price{
	padding: 0px;
	text-align: center;
	margin: 10px 0px;
}
.price > span{
	font-weight: bold;
	margin-left: 5px;
}
.price > del{
	color: #747474;
}
/* end watch */
/*PR*/
.PR{
	background-image: url(../images/PR.jpg);
	background-size: 100%;
	margin: 5% 0px;
}
.PR-icon{
	margin: 4% 0px;
	color: white;
	text-align: center;
}
.PR-icon > p{
	font-size: 18px;
	font-weight: bold;
}
/*end PR*/

/*advertisement*/
.adv{
	margin-top: 5%;
	margin-bottom: 3%;
}
.ad1, .ad2{
	position: relative;
	margin: 0px;
	padding: 0px !important;
}
.ad1 > img{
	width: 100%;
	height: 90%;
}
.ad2 > img{
	width: 100%;
	height: 90%;
}
.ad-cont1, .ad-cont2{
	position: absolute;
	top: 30%;
}
.ad-cont1{
	left: 5%;
}
.ad-cont2{
	right: 5%;
}
.adv h2{
	color: #e3bc4e;
}
.adv h5{
	color: #00FFFF;
	margin-bottom: 7%;
}
.adv a{
	color: #e3bc4e;
	text-decoration: none !important; 
	padding: 2%;
	border: 1px solid #e3bc4e;
}
.adv a:hover{
	color: white;
	background: #e3bc4e;
}
/* /advertisement*/

/*Accessories*/
.accessory{
	margin-top: 5%;
}

/*news*/
.news{
	margin-top: 5%;
	margin-bottom: 10%;
}
.wnews{
	margin-top: 4%;
}
.news-cont > a > img{
	width: 100%;
	height: 100%;
	text-align: center;
	cursor: pointer;
}
.news-cont{
	padding-bottom: 3%;
}
.news-cont:hover{
	background: #eaeaea;
}
.ndescription{
	margin-bottom: 3%;
}
.ndescription > .name{
	margin: 0px auto;
	width: 95%;
	text-align: center;
	margin-top: 2%;
}
.ndescription > .name > a{
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	text-decoration: none;
	color: #1c1c1c;
	font-weight: bold;
}
.ndescription > .name > a:hover{
	color: #e3bc4e;
}
.ndescription > p{
	text-align: left;
	margin: 0px 7%;
	font-size: 15px;
	color: #909090;
}
.a{
	background: blue;
}
.b{
	background: yellow;
}
/*footer*/
.footer{
	background: black;
}
.foot-1-cont{
	margin-left: 40%;
	margin-top: 20%
}
.foot-1-cont > p{
	color: white;
	font-weight: bold;
}
.menu-bot{
	margin-left: 0%;
	padding: 0px;
	list-style-type: none;
}
.menu-bot > li{
	margin: 3% 0px;
}
.menu-bot > li > a{
	text-decoration: none;
	color: grey;
}
.menu-bot > li > a:hover{
	color: #e3bc4e;
}
.foot-2-cont
{
	margin-top: 20%;
	text-align: center;
	border-left: 1px dotted white;
	border-right: 1px dotted white;
	padding-bottom: 13%;
}
.foot-2-cont > img{
	width: 25%;
	height: 20%;
	margin-bottom: 4%;
}
.foot-2-cont > p{
	color: white;
}
.foot-2-cont > form > input{
	margin-top: 5%;
	width: 72%
}
.foot-3-cont{
	margin-top: 20%;
}
.foot-tit{
	color: white;
	font-weight: bold;
}
.addr, .time, .phone, .mail{
	color: grey;
}
.copyright{
	margin-top: 3%;
	color: white;
	text-align: center;
}
/*end footer*/

